* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./Assets/image.jpg);
    background-size: 100% 100vh;
    background-position: right top;
    background-repeat: no-repeat;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #406B5D;
}

.conteiner {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.conteinerLogin {
    width: 25%;
    height: 50vh;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background-color: rgba(255, 255, 255, 0.6);
    /*border: 2px solid red;*/
}

.formLogin {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

.form-prof-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-prof-image img {
    width: 31rem;
}

.telaPrincipal {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    /*border: 2px solid red;*/
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    background-color: #406B5D;
}

ul li a:hover {
    background-color: #6CA190;
}

.telaPrincipal h1::after {
    content: '';
    display: block;
    width: 5.3rem;
    height: 0.3rem;
    background-color: #406B5D;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
}

.input-box-login {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.input-box-login input {
    margin: 0.6rem 0;
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.form-header-login {
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    display: flex;
}

.form-header-login h1::after {
    content: '';
    display: block;
    width: 5.3rem;
    height: 0.3rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.form-header-home {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header-home h1::after {
    content: '';
    display: block;
    width: 5.4rem;
    height: 0.3rem;
    background-color: #406B5D;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.back-button {
    display: flex;
    align-items: center;
    margin-left: 7rem;
}

.back-button button {
    border: none;
    background-color: #406B5D;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.back-button button:hover {
    background-color: #6CA190;
}

@media screen and (max-width: 1330px) {
    .form-prof-image {
        display: none;
    }

    .conteiner {
        width: 50%;
    }

    .conteinerLogin {
        width: 50%;
    }

    .telaPrincipal {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .conteiner {
        width: 90%;
        height: auto;
    }

    .conteinerLogin {
        width: 90%;
        height: auto;
    }
}
